@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------------------------------------МИКСИН ДЛЯ ПСЕВДОЭЛЕМЕНТОВ--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПЛЕЙСХОЛДЕРОВ--------------------------------------------------------*/
/*--------------------------------------------------Спрятать\Показать блок--------------------------------------------------------*/
/* ---переменные--- */
/* ширина контейнера */
/* внутренние отступы у контейнера */
/* максимальная ширина */
/* минимальная ширина */
/* шрифты */
/* ---контейнер--- */
.container {
  max-width: 1200px;
  padding: 0px 14px;
  margin: 0 auto;
}

/* ---враппер--- */
.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(16, 16, 29, 0.9);
  padding: 32px 0px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__logo span {
  color: #42A9ED;
}
.header__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 60px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__link:hover {
  color: #43ABF0;
}
.header__link:last-child {
  margin-right: 0;
}
.header__burger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  visibility: hidden;
}
.header__burger div {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
}
.header__burger div:nth-child(1) {
  top: 8px;
}
.header__burger div:nth-child(2) {
  top: 15px;
}
.header__burger div:nth-child(3) {
  top: 22px;
}
@media (max-width: 767px) {
  .header {
    padding: 16px 0px;
  }
  .header__menu {
    position: fixed;
    top: 0px;
    background: rgba(16, 16, 29, 0.9);
    width: 250px;
    height: 400px;
    right: -250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  .header__menu.active {
    right: 0;
  }
  .header__link {
    margin-right: 0;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .header__burger {
    display: block;
    visibility: visible;
  }
  .header__burger.active div {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .header__burger.active div:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger.active div:nth-child(2) {
    display: none;
  }
  .header__burger.active div:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@media (max-width: 400px) {
  .header__menu {
    height: 300px;
  }
  .header__logo {
    font-size: 23px;
  }
  .header__link {
    font-size: 16px;
  }
}

.loremBlock {
  background-position: center;
  background: url("../images/firstBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 203px;
  padding-bottom: 202px;
}
.loremBlock__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #000000;
  max-width: 780px;
  margin-bottom: 80px;
}
.loremBlock__title span {
  color: #3E9CDC;
}
.loremBlock__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.loremBlock__list {
  margin-bottom: 80px;
}
.loremBlock__item {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 25px;
  margin-bottom: 5px;
}
.loremBlock__item:before {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  width: 5px;
  height: 1.5px;
  top: 50%;
  left: 0px;
}
.loremBlock__button {
  width: 183px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 15px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.loremBlock__button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.loremBlock__order {
  background: #3E9CDC;
  margin-right: 30px;
}
.loremBlock__desc {
  background: #FFFFFF;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
}
@media (max-width: 1500px) {
  .loremBlock {
    background-position-x: -350px;
  }
}
@media (max-width: 940px) {
  .loremBlock {
    background-position-x: -100px;
  }
}
@media (max-width: 768px) {
  .loremBlock__title {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 757px) {
  .loremBlock {
    padding-top: 120px;
  }
}
@media (max-width: 515px) {
  .loremBlock__title {
    font-size: 27px;
    line-height: 38px;
  }
  .loremBlock__subtitle {
    font-size: 17px;
  }
  .loremBlock__item {
    font-size: 17px;
  }
}
@media (max-width: 430px) {
  .loremBlock {
    padding-bottom: 100px;
  }
  .loremBlock__button {
    width: 135px;
  }
  .loremBlock__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .loremBlock__title br {
    display: none;
  }
}
@media (max-width: 360px) {
  .loremBlock {
    padding-bottom: 50px;
  }
  .loremBlock__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .loremBlock__list {
    margin-bottom: 30px;
  }
}

.order {
  padding-top: 120px;
  padding-bottom: 150px;
  background: #272733;
  background-image: url("../images/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.order__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.order__title span {
  color: #3E9CDC;
}
.order__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #BBBBBB;
  margin-bottom: 80px;
}
.order__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}
.order__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}
.order__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 110px;
  height: 6px;
  background-image: url("../images/dots.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 47px;
  right: -55px;
}
.order__item:last-child::after {
  display: none;
}
.order__item:hover .order__icon {
  border-color: #a2e4e4;
}
.order__item:hover .order__icon img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.order__icon {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #3E9CDC;
  border: 5px solid #286690;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.order__icon img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.order__desc {
  max-width: 190px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.order__row_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.order__select {
  position: relative;
  border: 1px solid #FFFFFF;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 370px;
  height: 48px;
  padding-left: 0;
}
.order__select.active {
  border: none;
}
.order__select select {
  display: none;
}
.order__select_selected {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  color: black !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
}
.order__select_selected::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 5px;
  background: url("../images/arrow_down.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 22px;
  right: 20px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.order__select_selected.select__arrow_active {
  background: rgba(61, 64, 80, 0.85);
  color: white !important;
  border: none;
}
.order__select_selected.select__arrow_active:before {
  background: url("../images/arrow_up.png");
}
.order__select_items {
  height: 250px;
  overflow-y: scroll;
  position: absolute;
  color: white;
  background-color: #272733;
  border: 1px solid #555765;
  top: 92%;
  left: 0;
  right: 0;
  z-index: 99;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
}
.order__select_items::-webkit-scrollbar {
  background: #3D4050;
  border-radius: 3px;
  width: 7px;
  border-radius: 10px;
}
.order__select_items::-webkit-scrollbar-thumb {
  background: #3E9CDC;
  border-radius: 10px;
}
.order__select_items div:hover, .order__select_items .same_as_selected {
  color: #42A9ED;
}
.order__select_selected, .order__select_items div {
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.order__select_hide {
  display: none;
}
.order__input {
  width: 370px;
  height: 48px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.order__input:placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__input:-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__input::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.order__bar {
  max-width: 777px;
  width: 100%;
}
.order__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}
.order__text p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.85);
}
.order__range {
  border-radius: 20px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.order__range::-webkit-slider-runnable-track {
  height: 6px;
  background: #BEBEC1;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
}
.order__range::-webkit-slider-thumb {
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  margin-top: -9px;
}
.order__range::-moz-range-track {
  height: 6px;
  background: #BEBEC1;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
}
.order__range::-moz-range-thumb {
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  margin-top: -9px;
}
.order__wrapper {
  position: relative;
  width: 370px;
}
.order__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__file_icon {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.order__file_icon_wrapper {
  height: 20px;
  width: 17.5px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__file_button_text {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: inherit;
}
.order__file_button {
  width: 100%;
  max-width: 370px;
  height: 48px;
  background: #FFFFFF;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: auto;
  color: #272733;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.order__file_button:hover {
  background: #a1cae6;
  border-color: #fff;
  color: white;
}
.order__file_button:hover .order__file_icon_wrapper .order__file_icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.order__submit {
  max-width: 370px;
  width: 100%;
}
.order__submit_button {
  cursor: pointer;
  width: 100%;
  height: 48px;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.order__submit_button:hover {
  background: #fff;
  border-color: #3E9CDC;
  color: black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 1150px) {
  .order__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order__input {
    margin-bottom: 10px;
  }
  .order__select {
    margin-bottom: 10px;
  }
  .order__bar {
    margin-bottom: 30px;
    max-width: 370px;
  }
}
@media (max-width: 1125px) {
  .order__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-bottom: 50px;
  }
  .order__item:last-child {
    margin-bottom: 0;
  }
  .order__item:nth-child(even)::after {
    display: none;
  }
}
@media (max-width: 525px) {
  .order {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .order__title {
    font-size: 25px;
    line-height: 36px;
  }
  .order__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .order__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .order__item::after {
    display: none;
  }
  .order__select {
    max-width: 370px;
    width: 100%;
  }
  .order__select_selected {
    font-size: 16px;
  }
  .order__row {
    padding: 0px 8px;
  }
  .order__input {
    max-width: 370px;
    width: 100%;
    font-size: 16px;
  }
  .order__input:placeholder {
    font-size: 16px;
  }
  .order__input:-moz-placeholder {
    font-size: 16px;
  }
  .order__input::-moz-placeholder {
    font-size: 16px;
  }
  .order__input:-ms-input-placeholder {
    font-size: 16px;
  }
  .order__input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .order__bar {
    padding: 0px 8px;
  }
  .order__wrapper {
    max-width: 370px;
    width: 100%;
    padding: 0px 8px;
  }
  .order__text p {
    font-size: 14px;
  }
  .order__submit {
    padding: 0px 8px;
  }
}
@media (max-width: 360px) {
  .order__text p {
    font-size: 12px;
  }
}

.footer {
  padding: 30px 0px;
  background: #3D4050;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #c3c3c3;
  padding-right: 40px;
}
.footer__col:last-child {
  padding-right: 0;
  border: none;
}
.footer__desc {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__desc span {
  text-transform: uppercase;
}
.footer__wallets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 38px;
}
.footer__item:last-child {
  margin-right: 0;
}
.footer__name {
  color: #C3C3C3;
}
.footer__social .footer__name {
  color: #FFFFFF;
}
.footer__icon {
  margin-right: 10px;
}
@media (max-width: 1150px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__col {
    border: none;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .footer__col:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 424px) {
  .footer__wallets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    margin: 0;
    font-size: 11px;
  }
  .footer__wallet {
    margin-bottom: 10px;
  }
  .footer__wallet:last-child {
    margin-bottom: 0;
  }
  .footer__social {
    margin-right: 10px;
  }
  .footer__desc {
    font-size: 12px;
  }
}