@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------------------------------------МИКСИН ДЛЯ АДАПТИВНОГО ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПСЕВДОЭЛЕМЕНТОВ--------------------------------------------------------*/
/*--------------------------------------------------МИКСИН ДЛЯ ПЛЕЙСХОЛДЕРОВ--------------------------------------------------------*/
/*--------------------------------------------------УСЕЧЕНИЕ ТЕКСТА--------------------------------------------------------*/
/*--------------------------------------------------Спрятать\Показать блок--------------------------------------------------------*/
/* ---переменные--- */
/* ширина контейнера */
/* внутренние отступы у контейнера */
/* максимальная ширина */
/* минимальная ширина */
/* шрифты */
/* ---контейнер--- */
.container {
  max-width: 1200px;
  padding: 0px 14px;
  margin: 0 auto;
}

/* ---враппер--- */
.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(16, 16, 29, 0.9);
  padding: 32px 0px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__logo span {
  color: #42A9ED;
}
.header__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 60px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header__link:hover {
  color: #43ABF0;
}
.header__link:last-child {
  margin-right: 0;
}
.header__burger {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
  visibility: hidden;
}
.header__burger div {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
}
.header__burger div:nth-child(1) {
  top: 8px;
}
.header__burger div:nth-child(2) {
  top: 15px;
}
.header__burger div:nth-child(3) {
  top: 22px;
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: 0px;
    background: rgba(16, 16, 29, 0.9);
    width: 250px;
    height: 400px;
    right: -250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  .header__menu.active {
    right: 0;
  }
  .header__link {
    margin-right: 0;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .header__burger {
    display: block;
    visibility: visible;
  }
  .header__burger.active div {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .header__burger.active div:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger.active div:nth-child(2) {
    display: none;
  }
  .header__burger.active div:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@media (max-width: 400px) {
  .header__menu {
    height: 300px;
  }
  .header__logo {
    font-size: 23px;
  }
  .header__link {
    font-size: 16px;
  }
}

.loremBlock {
  background-position: center;
  background: url("../images/firstBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 203px;
  padding-bottom: 202px;
}
.loremBlock__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #000000;
  max-width: 780px;
  margin-bottom: 80px;
}
.loremBlock__title span {
  color: #3E9CDC;
}
.loremBlock__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.loremBlock__list {
  margin-bottom: 80px;
}
.loremBlock__item {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 25px;
  margin-bottom: 5px;
}
.loremBlock__item:before {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  width: 5px;
  height: 1.5px;
  top: 50%;
  left: 0px;
}
.loremBlock__button {
  width: 183px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 15px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.loremBlock__order {
  background: #3E9CDC;
  margin-right: 30px;
}
.loremBlock__desc {
  background: #FFFFFF;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
}
@media (max-width: 1500px) {
  .loremBlock {
    background-position-x: -350px;
  }
}
@media (max-width: 940px) {
  .loremBlock {
    background-position-x: -100px;
  }
}
@media (max-width: 768px) {
  .loremBlock__title {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 757px) {
  .loremBlock {
    padding-top: 120px;
  }
}
@media (max-width: 515px) {
  .loremBlock__title {
    font-size: 27px;
    line-height: 38px;
  }
  .loremBlock__subtitle {
    font-size: 17px;
  }
  .loremBlock__item {
    font-size: 17px;
  }
}
@media (max-width: 430px) {
  .loremBlock {
    padding-bottom: 100px;
  }
  .loremBlock__button {
    width: 135px;
  }
  .loremBlock__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .loremBlock__title br {
    display: none;
  }
}
@media (max-width: 360px) {
  .loremBlock {
    padding-bottom: 50px;
  }
  .loremBlock__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .loremBlock__list {
    margin-bottom: 30px;
  }
}

.order {
  padding-top: 120px;
  padding-bottom: 150px;
  background: #272733;
  background-image: url("../images/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.order__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.order__title span {
  color: #3E9CDC;
}
.order__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #BBBBBB;
  margin-bottom: 80px;
}