@import "null.scss";

@import "mixins.scss";

/* ---переменные--- */

/* ширина контейнера */
$maxWidthContainer: 1200px; 
/* внутренние отступы у контейнера */
$paddingContainer: 0px 14px;
/* максимальная ширина */
$maxWidth: 1920px;
/* минимальная ширина */
$minWidth: 320px;

/* шрифты */
$lato:'Lato', sans-serif;
$Raleway: 'Raleway', sans-serif;

/* ---контейнер--- */
.container{
    max-width: $maxWidthContainer;
    padding: $paddingContainer;
    margin: 0 auto;
}
/* ---враппер--- */
.wrapper{
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    font-family: $lato;
}
.header {
    z-index: 100;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    background: rgba(16, 16, 29, 0.9);
    padding: 32px 0px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: $Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #FFFFFF;
        
        span {
            color: #42A9ED;
        }
    }

    &__link {
        text-transform: uppercase;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        margin-right: 60px;
        transition: all .4s ease;
        &:hover{
            color: #43ABF0;
        }
        &:last-child{
            margin-right: 0;
        }
    }

    &__burger {
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
        @include hide;
        div{
            position: absolute;
            width: 30px;
            height: 2px;
            background: #fff;
            &:nth-child(1){
                top: 8px;
            }
            &:nth-child(2){
                top: 15px;
            }
            &:nth-child(3){
                top: 22px;
            }
        }
    }
    @media(max-width:767px){
        & {
            padding: 16px 0px;
        }
        &__menu{
            position: fixed;
            top: 0px;
            background: rgba(16, 16, 29, 0.9);
            width:  250px;
            height: 400px;
            right: -250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .4s linear;
            &.active{
                right: 0;
            }
        }
        &__link{
            margin-right: 0;
            font-size: 20px;
            margin-bottom: 30px;
        }
        &__burger{
            @include visible;
            &.active{
                div{
                    transition: all 1s ease;
                    &:nth-child(1){
                        top: 15px;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        top: 15px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    @media(max-width:400px){
        &__menu {
            height: 300px;
        }
        &__logo{
            font-size: 23px;
        }
        &__link {
            font-size: 16px;
        }
    }
}
.loremBlock {
    background-position: center;
    background: url('../images/firstBg.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 203px;
    padding-bottom: 202px;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
        color: #000000;
        max-width: 780px;
        margin-bottom: 80px;
        span {
            color: #3E9CDC;
        }
    }
    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    &__list {
        margin-bottom: 80px;
    }
    &__item {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        padding-left: 25px;
        margin-bottom: 5px;
        &:before{
            @include pseudo();
            background: #000;
            width: 5px;
            height: 1.5px;
            top: 50%;
            left: 0px;
        }
    }
    &__button {
        width: 183px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        padding: 15px 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        text-transform: uppercase;
        transition: 0.4s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__order {
        background: #3E9CDC;
        margin-right: 30px;
    }
    &__desc {
        background: #FFFFFF;
        border: 1px solid #6F6D7B;
        color: #2A2B30;
    }

    @media(max-width:1500px){
        &{
            background-position-x: -350px;
        }
    }
    @media(max-width:940px){
        &{
            background-position-x: -100px;
        }
    }
    @media (max-width: 768px) {
        &__title {
            font-size: 36px;
            line-height: 46px;
        }
    }
    @media(max-width:757px){
        &{
            padding-top: 120px;
        }
    }
    @media (max-width: 515px) {
        &__title {
            font-size: 27px;
            line-height: 38px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__item {
            font-size: 17px;
        }
    }
    @media(max-width:430px){
        & {
            padding-bottom: 100px;
        }
        &__button{
            width: 135px;
        }
        &__buttons{
            display: flex;
            justify-content: space-between;
        }
        &__title {
            br {
                display: none;
            }
        }
    }
    @media (max-width: 360px) {
        & {
            padding-bottom: 50px;
        }
        &__title {
            font-size: 24px;
            margin-bottom: 30px;
        }
        &__list {
            margin-bottom: 30px;
        }
    }
}
.order {
    padding-top: 120px;
    padding-bottom: 150px;
    background: #272733;
    background-image: url("../images/map.png");
    background-size: cover;
    background-repeat: no-repeat;

    &__inner {

    }

    &__title {
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
        span {
            color: #3E9CDC;
        }
    }

    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #BBBBBB;
        margin-bottom: 80px;
    }
    &__icons {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 80px;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 20%;
        &:after{
            @include pseudo;
            width: 110px;
            height: 6px;
            background-image: url("../images/dots.png");
            background-repeat: no-repeat;
            background-size: contain;
            top: 47px;
            right: -55px;
        }
        &:last-child::after{
            display: none;
        }
        &:hover .order__icon{
            border-color: #a2e4e4;
        }
        &:hover .order__icon img {
            transform: scale(1.2);
        }
    }
    &__icon {
        transition: .4s all ease;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #3E9CDC;
        border: 5px solid #286690;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        img {
            transition: 0.4s ease;
        }
    }
    &__desc {
        max-width: 190px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        &_center {
            justify-content: center;
        }
    }
    &__select {
        position: relative;
        border: 1px solid #FFFFFF;
        margin-bottom: 5px;
        border-radius: 3px;
        width: 370px;
        height: 48px;
        padding-left: 0;
        &.active{
            border: none;
        }
        select{ 
            display: none;
        }
        &_selected {
            background: rgba(255, 255, 255, 0.85);
            border: 1px solid #FFFFFF;
            color: black !important;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 34px;
            &::before{
                @include pseudo;
                width: 8px;
                height: 5px;
                background: url('../images/arrow_down.png');
                background-size: cover;
                background-repeat: no-repeat;
                top: 22px;
                right: 20px;
                transition: .4s all ease;
            }
            &.select__arrow_active{
                background: rgba(61, 64, 80, 0.85);
                color: white !important;
                border: none;
                &:before{
                    background: url('../images/arrow_up.png');
                }
            }
          }
          &_items{
            height: 250px;
            overflow-y: scroll;
            position: absolute;
            color: white;
            background-color: #272733;
            border: 1px solid #555765;
            top: 92%;
            left: 0;
            right: 0;
            z-index: 99;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 34px;
            &::-webkit-scrollbar{
                background: #3D4050;
                border-radius: 3px;
                width: 7px;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb{
                background: #3E9CDC;
                border-radius: 10px;
            }
            div:hover, .same_as_selected{
                color: #42A9ED;
            }
          }
          
          &_selected, &_items div{
            color: white;
            padding: 5px 10px;
            cursor: pointer;
            user-select: none;
        }
        &_hide{
            display: none;
        }
      }
    &__input {
        width: 370px;
        height: 48px;
        background: rgba(255, 255, 255, 0.85);
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        padding-left: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        @include input-placeholder{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #272733;
        }
    }
    &__bar {
        max-width: 777px;
        width: 100%;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
        p {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: rgba(255, 255, 255, 0.85);
        }
    }
    &__range {
        border-radius: 20px;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-webkit-slider-runnable-track {
            height: 6px;
            background: #BEBEC1;
            border: 1px solid #FFFFFF;
            border-radius: 100%;
        }
        &::-webkit-slider-thumb {
            background: #42A9ED;
            border: 3px solid #286690;
            border-radius: 50%;
            cursor: pointer;
            width:24px;
            height: 24px;
            -webkit-appearance: none;
            margin-top: -9px;
          }
        &::-moz-range-track {
            height: 6px;
            background: #BEBEC1;
            border: 1px solid #FFFFFF;
            border-radius: 100%;
        }
        &::-moz-range-thumb{
            background: #42A9ED;
            border: 3px solid #286690;
            border-radius: 50%;
            cursor: pointer;
            width:24px;
            height: 24px;
            -webkit-appearance: none;
            margin-top: -9px;
        }
    }
    &__wrapper{
        position: relative;
        width: 370px;
    }
    &__file {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        &_icon {
            transition: 0.4s ease;
        }
        &_icon_wrapper{
            height: 20px;
            width: 17.5px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &_button_text{
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: inherit;
        }
        &_button{
            width: 100%;
            max-width: 370px;
            height: 48px;
            background: #FFFFFF;
            border: 2px solid #3E9CDC;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-left: auto;
            color: #272733;
            transition: .3s all ease;
            &:hover{
                background: #a1cae6;
                border-color: #fff;
                color: white;
            }
            &:hover .order__file_icon_wrapper .order__file_icon {
                transform: scale(1.1);
            }
        }
    }
    &__submit{
        max-width: 370px;
            width: 100%;
            padding: 0px 8px;
        &_button {
            cursor: pointer;
            width: 100%;
            height: 48px;
            background: #3E9CDC;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 4px;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            transition: .3s all ease;
            &:hover{
                background: #fff;
                border-color: #3E9CDC;
                color: black;
                transform: scale(1.05);
            }
        }
    }

    @media (max-width: 1150px) {
        &__row {
            flex-direction: column;
            align-items: center;
        }
        &__input {
            margin-bottom: 10px;
        }
        &__select {
            margin-bottom: 10px;
        }
        &__bar {
            margin-bottom: 30px;
            max-width: 370px;
        }
    }
    @media (max-width: 1125px) {
        &__item {
            flex: 0 1 50%;
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0;
            }
            &:nth-child(even)::after{
                display: none;
            }
        }
    }
    @media (max-width: 525px) {
        & {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        &__title {
            font-size: 25px;
            line-height: 36px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 24px;
        }
        &__item {
            flex: 0 1 100%;
            &::after{
                display: none;
            }
        }
        &__select {
            max-width: 370px;
            width: 100%;
            &_selected {
                font-size: 16px;
            }
        }
        &__row {
            padding: 0px 8px;
        }
        &__input {
            max-width: 370px;
            width: 100%;
            font-size: 16px;
            @include input-placeholder {
                font-size: 16px;
            }
        }
        &__bar {
            padding: 0px 8px;
        }
        &__wrapper {
            max-width: 370px;
            width: 100%;
            padding: 0px 8px;
        }
        &__text {
            p {
                font-size: 14px;
            }
        }
    }
    @media (max-width: 360px) {
        &__text {
            p {
                font-size: 12px;
            }
        }
    }
}